<div class="row">
  <div class="col-xl-8 col-centered">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title">Critical Hits for WFRP2E</h4>
        <p class="card-category">WARHAMMER FANTASY RPG Critical Hits Rolls by Josef Tham, v2.0 from
          <a href="http://www.windsofchaos.com/">
            www.windsofchaos.com
          </a>
        </p>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-auto">
            <div class="table-responsive">
              <table class="table table-bordered table-sm">
                <thead class="table-primary text-light">
                  <tr>
                    <th>#</th>
                    <th>1</th>
                    <th>2</th>
                    <th>3</th>
                    <th>4</th>
                    <th>5</th>
                    <th>6</th>
                    <th>7</th>
                    <th>8</th>
                    <th>9</th>
                    <th>10</th>
                    <th>11+</th>
                    <th>Body Parts</th>
                    <th>#</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="table-primary text-light">20</td>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                    <td>7</td>
                    <td class="table-warning">8</td>
                    <td class="table-warning">9</td>
                    <td class="table-warning">10</td>
                    <td class="table-warning">12</td>
                    <td>Head</td>
                    <td class="table-primary text-light">20</td>
                  </tr>
                  <tr>
                    <td class="table-primary text-light">19</td>
                    <td>1</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                    <td>7</td>
                    <td class="table-warning">8</td>
                    <td class="table-warning">9</td>
                    <td class="table-warning">10</td>
                    <td class="table-warning">11</td>
                    <td class="table-danger">14</td>
                    <td>Right Arm</td>
                    <td class="table-primary text-light">19</td>
                  </tr>
                  <tr>
                    <td class="table-primary text-light">18</td>
                    <td>1</td>
                    <td>3</td>
                    <td>5</td>
                    <td>6</td>
                    <td>7</td>
                    <td class="table-warning">8</td>
                    <td class="table-warning">9</td>
                    <td class="table-warning">10</td>
                    <td class="table-warning">11</td>
                    <td class="table-warning">12</td>
                    <td class="table-danger">15</td>
                    <td>Right Arm</td>
                    <td class="table-primary text-light">18</td>
                  </tr>
                  <tr>
                    <td class="table-primary text-light">17</td>
                    <td>1</td>
                    <td>4</td>
                    <td>6</td>
                    <td>7</td>
                    <td class="table-warning">8</td>
                    <td class="table-warning">9</td>
                    <td class="table-warning">10</td>
                    <td class="table-warning">11</td>
                    <td class="table-warning">12</td>
                    <td class="table-danger">13</td>
                    <td class="table-danger">15</td>
                    <td>Left Arm</td>
                    <td class="table-primary text-light">17</td>
                  </tr>
                  <tr>
                    <td class="table-primary text-light">16</td>
                    <td>2</td>
                    <td>5</td>
                    <td>7</td>
                    <td class="table-warning">8</td>
                    <td class="table-warning">9</td>
                    <td class="table-warning">10</td>
                    <td class="table-warning">11</td>
                    <td class="table-warning">12</td>
                    <td class="table-danger">13</td>
                    <td class="table-danger">14</td>
                    <td class="table-danger">15</td>
                    <td>Left Arm</td>
                    <td class="table-primary text-light">16</td>
                  </tr>
                  <tr>
                    <td class="table-primary text-light">15</td>
                    <td>2</td>
                    <td>5</td>
                    <td>7</td>
                    <td class="table-warning">8</td>
                    <td class="table-warning">9</td>
                    <td class="table-warning">10</td>
                    <td class="table-warning">11</td>
                    <td class="table-warning">12</td>
                    <td class="table-danger">13</td>
                    <td class="table-danger">14</td>
                    <td class="table-danger">15</td>
                    <td>Body</td>
                    <td class="table-primary text-light">15</td>
                  </tr>
                  <tr>
                    <td class="table-primary text-light">14</td>
                    <td>3</td>
                    <td>6</td>
                    <td class="table-warning">8</td>
                    <td class="table-warning">9</td>
                    <td class="table-warning">10</td>
                    <td class="table-warning">11</td>
                    <td class="table-warning">12</td>
                    <td class="table-danger">13</td>
                    <td class="table-danger">14</td>
                    <td class="table-danger">15</td>
                    <td class="table-danger">15</td>
                    <td>Body</td>
                    <td class="table-primary text-light">14</td>
                  </tr>
                  <tr>
                    <td class="table-primary text-light">13</td>
                    <td>4</td>
                    <td>7</td>
                    <td class="table-warning">9</td>
                    <td class="table-warning">10</td>
                    <td class="table-warning">11</td>
                    <td class="table-warning">12</td>
                    <td class="table-danger">13</td>
                    <td class="table-danger">13</td>
                    <td class="table-danger">14</td>
                    <td class="table-danger">15</td>
                    <td class="table-danger">15</td>
                    <td>Right Leg</td>
                    <td class="table-primary text-light">13</td>
                  </tr>
                  <tr>
                    <td class="table-primary text-light">12</td>
                    <td>5</td>
                    <td class="table-warning">8</td>
                    <td class="table-warning">10</td>
                    <td class="table-warning">11</td>
                    <td class="table-warning">12</td>
                    <td class="table-danger">13</td>
                    <td class="table-danger">13</td>
                    <td class="table-danger">14</td>
                    <td class="table-danger">15</td>
                    <td class="table-danger">15</td>
                    <td class="table-danger">15</td>
                    <td>Left Leg</td>
                    <td class="table-primary text-light">12</td>
                  </tr>
                  <tr>
                    <td class="table-primary text-light">11</td>
                    <td>5</td>
                    <td class="table-warning">8</td>
                    <td class="table-warning">10</td>
                    <td class="table-warning">11</td>
                    <td class="table-warning">12</td>
                    <td class="table-danger">13</td>
                    <td class="table-danger">13</td>
                    <td class="table-danger">14</td>
                    <td class="table-danger">15</td>
                    <td class="table-danger">15</td>
                    <td class="table-danger">15</td>
                    <td>Head</td>
                    <td class="table-primary text-light">11</td>
                  </tr>
                  <tr>
                    <td class="table-primary text-light">10</td>
                    <td>6</td>
                    <td class="table-warning">9</td>
                    <td class="table-warning">11</td>
                    <td class="table-warning">12</td>
                    <td class="table-danger">13</td>
                    <td class="table-danger">13</td>
                    <td class="table-danger">14</td>
                    <td class="table-danger">15</td>
                    <td class="table-danger">15</td>
                    <td class="table-danger">15</td>
                    <td class="table-danger">15</td>
                    <td>Right Arm</td>
                    <td class="table-primary text-light">10</td>
                  </tr>
                  <tr>
                    <td class="table-primary text-light">9</td>
                    <td>7</td>
                    <td class="table-warning">10</td>
                    <td class="table-warning">12</td>
                    <td class="table-danger">13</td>
                    <td class="table-danger">13</td>
                    <td class="table-danger">14</td>
                    <td class="table-danger">14</td>
                    <td class="table-danger">15</td>
                    <td class="table-danger">15</td>
                    <td class="table-danger">15</td>
                    <td class="table-danger">15</td>
                    <td>Right Arm</td>
                    <td class="table-primary text-light">9</td>
                  </tr>
                  <tr>
                    <td class="table-primary text-light">8</td>
                    <td>7</td>
                    <td class="table-warning">10</td>
                    <td class="table-warning">12</td>
                    <td class="table-danger">13</td>
                    <td class="table-danger">13</td>
                    <td class="table-danger">14</td>
                    <td class="table-danger">14</td>
                    <td class="table-danger">15</td>
                    <td class="table-danger">15</td>
                    <td class="table-danger">15</td>
                    <td class="table-danger">15</td>
                    <td>Left Arm</td>
                    <td class="table-primary text-light">8</td>
                  </tr>
                  <tr>
                    <td class="table-primary text-light">7</td>
                    <td class="table-warning">8</td>
                    <td class="table-warning">11</td>
                    <td class="table-danger">13</td>
                    <td class="table-danger">13</td>
                    <td class="table-danger">14</td>
                    <td class="table-danger">14</td>
                    <td class="table-danger">15</td>
                    <td class="table-danger">15</td>
                    <td class="table-danger">15</td>
                    <td class="table-danger">15</td>
                    <td class="table-danger">15</td>
                    <td>Left Arm</td>
                    <td class="table-primary text-light">7</td>
                  </tr>
                  <tr>
                    <td class="table-primary text-light">6</td>
                    <td class="table-warning">9</td>
                    <td class="table-warning">12</td>
                    <td class="table-danger">13</td>
                    <td class="table-danger">14</td>
                    <td class="table-danger">14</td>
                    <td class="table-danger">15</td>
                    <td class="table-danger">15</td>
                    <td class="table-danger">15</td>
                    <td class="table-danger">15</td>
                    <td class="table-danger">15</td>
                    <td class="table-danger">15</td>
                    <td>Body</td>
                    <td class="table-primary text-light">6</td>
                  </tr>
                  <tr>
                    <td class="table-primary text-light">5</td>
                    <td class="table-warning">10</td>
                    <td class="table-danger">13</td>
                    <td class="table-danger">14</td>
                    <td class="table-danger">14</td>
                    <td class="table-danger">15</td>
                    <td class="table-danger">15</td>
                    <td class="table-danger">15</td>
                    <td class="table-danger">15</td>
                    <td class="table-danger">15</td>
                    <td class="table-danger">15</td>
                    <td class="table-danger">15</td>
                    <td>Body</td>
                    <td class="table-primary text-light">5</td>
                  </tr>
                  <tr>
                    <td class="table-primary text-light">4</td>
                    <td class="table-warning">11</td>
                    <td class="table-danger">14</td>
                    <td class="table-danger">14</td>
                    <td class="table-danger">15</td>
                    <td class="table-danger">15</td>
                    <td class="table-danger">15</td>
                    <td class="table-danger">15</td>
                    <td class="table-danger">15</td>
                    <td class="table-danger">15</td>
                    <td class="table-danger">15</td>
                    <td class="table-danger">15</td>
                    <td>Body</td>
                    <td class="table-primary text-light">4</td>
                  </tr>
                  <tr>
                    <td class="table-primary text-light">3</td>
                    <td class="table-warning">11</td>
                    <td class="table-danger">14</td>
                    <td class="table-danger">14</td>
                    <td class="table-danger">15</td>
                    <td class="table-danger">15</td>
                    <td class="table-danger">15</td>
                    <td class="table-danger">15</td>
                    <td class="table-danger">15</td>
                    <td class="table-danger">15</td>
                    <td class="table-danger">15</td>
                    <td class="table-danger">15</td>
                    <td>Right Leg</td>
                    <td class="table-primary text-light">3</td>
                  </tr>
                  <tr>
                    <td class="table-primary text-light">2</td>
                    <td class="table-warning">12</td>
                    <td class="table-danger">14</td>
                    <td class="table-danger">15</td>
                    <td class="table-danger">15</td>
                    <td class="table-danger">15</td>
                    <td class="table-danger">15</td>
                    <td class="table-danger">15</td>
                    <td class="table-danger">15</td>
                    <td class="table-danger">15</td>
                    <td class="table-danger">15</td>
                    <td class="table-danger">15</td>
                    <td>Left Leg</td>
                    <td class="table-primary text-light">2</td>
                  </tr>
                  <tr>
                    <td class="table-primary text-light">1</td>
                    <td class="table-danger">13</td>
                    <td class="table-danger">15</td>
                    <td class="table-danger">15</td>
                    <td class="table-danger">15</td>
                    <td class="table-danger">15</td>
                    <td class="table-danger">15</td>
                    <td class="table-danger">15</td>
                    <td class="table-danger">15</td>
                    <td class="table-danger">15</td>
                    <td class="table-danger">15</td>
                    <td class="table-danger">15</td>
                    <td>Head</td>
                    <td class="table-primary text-light">1</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-auto">
            <div class="form-group">
              <div class="form-check form-check-radio">
                <label class="form-check-label text-dark">
                  <input class="form-check-input" type="radio" name="place" id="place1" ng-model="$ctrl.place"
                    value="Head">
                  Head
                  <span class="circle">
                    <span class="check"></span>
                  </span>
                </label>
              </div>
              <div class="form-check form-check-radio">
                <label class="form-check-label text-dark">
                  <input class="form-check-input" type="radio" name="place" id="place2" ng-model="$ctrl.place"
                    value="Body">
                  Body
                  <span class="circle">
                    <span class="check"></span>
                  </span>
                </label>
              </div>
              <div class="form-check form-check-radio">
                <label class="form-check-label text-dark">
                  <input class="form-check-input" type="radio" name="place" id="place3" ng-model="$ctrl.place"
                    value="Arms">
                  Arms
                  <span class="circle">
                    <span class="check"></span>
                  </span>
                </label>
              </div>
              <div class="form-check form-check-radio">
                <label class="form-check-label text-dark">
                  <input class="form-check-input" type="radio" name="place" id="place4" ng-model="$ctrl.place"
                    value="Legs">
                  Legs
                  <span class="circle">
                    <span class="check"></span>
                  </span>
                </label>
              </div>
            </div>
          </div>
          <div class="col-auto">
            <div class="form-group">
              <div class="form-check form-check-radio">
                <label class="form-check-label text-dark">
                  <input class="form-check-input" type="radio" name="weapon" id="weapon2" ng-model="$ctrl.weapon"
                    value="Blunt">
                  Bludgeoning Damage
                  <span class="circle">
                    <span class="check"></span>
                  </span>
                </label>
              </div>
              <div class="form-check form-check-radio">
                <label class="form-check-label text-dark">
                  <input class="form-check-input" type="radio" name="weapon" id="weapon7" ng-model="$ctrl.weapon"
                    value="Piercing">
                  Piercing Damage
                  <span class="circle">
                    <span class="check"></span>
                  </span>
                </label>
              </div>
              <div class="form-check form-check-radio">
                <label class="form-check-label text-dark">
                  <input class="form-check-input" type="radio" name="weapon" id="weapon5" ng-model="$ctrl.weapon"
                    value="Cutting">
                  Slashing Damage
                  <span class="circle">
                    <span class="check"></span>
                  </span>
                </label>
              </div>
              <div class="form-check form-check-radio">
                <label class="form-check-label text-dark">
                  <input class="form-check-input" type="radio" name="weapon" id="weapon6" ng-model="$ctrl.weapon"
                    value="Flame">
                  Flame & Energy Damage
                  <span class="circle">
                    <span class="check"></span>
                  </span>
                </label>
              </div>
              <div class="form-check form-check-radio">
                <label class="form-check-label text-dark">
                  <input class="form-check-input" type="radio" name="weapon" id="weapon1" ng-model="$ctrl.weapon"
                    value="Arrow">
                  Arrow & Bolt Damage (Piercing)
                  <span class="circle">
                    <span class="check"></span>
                  </span>
                </label>
              </div>
              <div class="form-check form-check-radio">
                <label class="form-check-label text-dark">
                  <input class="form-check-input" type="radio" name="weapon" id="weapon3" ng-model="$ctrl.weapon"
                    value="Bullet">
                  Bullet Damage (Piercing)
                  <span class="circle">
                    <span class="check"></span>
                  </span>
                </label>
              </div>
              <div class="form-check form-check-radio">
                <label class="form-check-label text-dark">
                  <input class="form-check-input" type="radio" name="weapon" id="weapon4" ng-model="$ctrl.weapon"
                    value="Claws">
                  Claws & Teeth Damage (Piercing and Slashing)
                  <span class="circle">
                    <span class="check"></span>
                  </span>
                </label>
              </div>
              <div class="form-check form-check-radio">
                <label class="form-check-label text-dark">
                  <input class="form-check-input" type="radio" name="weapon" id="weapon8" ng-model="$ctrl.weapon"
                    value="Explosion">
                  Explosion & Shrapnel Damage
                  <span class="circle">
                    <span class="check"></span>
                  </span>
                </label>
              </div>
              <div class="form-check form-check-radio">
                <label class="form-check-label text-dark">
                  <input class="form-check-input" type="radio" name="weapon" id="weapon9" ng-model="$ctrl.weapon"
                    value="Unarmed">
                  Unarmed Combat Damage
                  <span class="circle">
                    <span class="check"></span>
                  </span>
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-auto">
            <span>Wounds count: #{{$ctrl.wCount}}; To wound roll: #{{$ctrl.wRoll}}; Wound result:
              #{{$ctrl.wResult}}</span>
          </div>
        </div>
        <div class="row">
          <div class="col-auto">
            <ul>
              <li>{{$ctrl.weapon}}</li>
              <li>{{$ctrl.place}}</li>
              <li ng-repeat="critical in $ctrl.criticals[$ctrl.weapon][$ctrl.place]">
                <span class="critical">{{$ctrl.criticals[$ctrl.weapon][$ctrl.place][$ctrl.wResult]}}</span>
              </li>
              <ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>