<div class="row">
  <div class="col-xl-8 col-centered">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title">Critical Hits for WFRP2E</h4>
        <p class="card-category">WARHAMMER FANTASY RPG Critical Hits Rolls by Josef Tham, v2.0 from
          <a href="http://www.windsofchaos.com/">
            www.windsofchaos.com
          </a>
        </p>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-auto">
            <div class="table-responsive">
              <table class="table table-bordered table-sm">
                <thead class="table-primary text-light">
                  <tr>
                    <th>#</th>
                    <th><a href="#" ng-class="{'text-danger text-bold': 1 == $ctrl.wCount}" class="text-light"
                        ng-click="$ctrl.makeWCount(1)">1</a></th>
                    <th><a href="#" ng-class="{'text-danger text-bold': 2 == $ctrl.wCount}" class="text-light"
                        ng-click="$ctrl.makeWCount(2)">2</a></th>
                    <th><a href="#" ng-class="{'text-danger text-bold': 3 == $ctrl.wCount}" class="text-light"
                        ng-click="$ctrl.makeWCount(3)">3</a></th>
                    <th><a href="#" ng-class="{'text-danger text-bold': 4 == $ctrl.wCount}" class="text-light"
                        ng-click="$ctrl.makeWCount(4)">4</a></th>
                    <th><a href="#" ng-class="{'text-danger text-bold': 5 == $ctrl.wCount}" class="text-light"
                        ng-click="$ctrl.makeWCount(5)">5</a></th>
                    <th><a href="#" ng-class="{'text-danger text-bold': 6 == $ctrl.wCount}" class="text-light"
                        ng-click="$ctrl.makeWCount(6)">6</a></th>
                    <th><a href="#" ng-class="{'text-danger text-bold': 7 == $ctrl.wCount}" class="text-light"
                        ng-click="$ctrl.makeWCount(7)">7</a></th>
                    <th><a href="#" ng-class="{'text-danger text-bold': 8 == $ctrl.wCount}" class="text-light"
                        ng-click="$ctrl.makeWCount(8)">8</a></th>
                    <th><a href="#" ng-class="{'text-danger text-bold': 9 == $ctrl.wCount}" class="text-light"
                        ng-click="$ctrl.makeWCount(9)">9</a></th>
                    <th><a href="#" ng-class="{'text-danger text-bold': 10 == $ctrl.wCount}" class="text-light"
                        ng-click="$ctrl.makeWCount(10)">10</a></th>
                    <th><a href="#" ng-class="{'text-danger text-bold': 11 == $ctrl.wCount}" class="text-light"
                        ng-click="$ctrl.makeWCount(11)">11+</a></th>
                    <th>Body Parts</th>
                    <th>#</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="toWoundLine in $ctrl.toWound">
                    <td class="table-primary text-light"><a href="#" ng-click="$ctrl.makeWRoll(20-$index)"
                        class="text-light"
                        ng-class="{'text-danger text-bold': 20-$ctrl.wRoll == $index}">{{20-$index}}</a></td>
                    <td ng-repeat="toWnd in $ctrl.toWound[$index] track by $index"
                      ng-class="{'table-warning': toWnd>7, 'table-danger': toWnd>12, 'text-danger text-bold': 20-$ctrl.wRoll == $parent.$index && $index == $ctrl.wCount-1}">
                      {{toWnd}}</td>
                    <td><a href="#" ng-click="$ctrl.makeWBodyPart(20-$index)"
                        ng-class="{'text-danger text-bold': 20-$ctrl.wBodyPart == $index}">{{$ctrl.toWoundPlace[$index]}}</a>
                    </td>
                    <td class="table-primary text-light"><a href="#" ng-click="$ctrl.makeWBodyPart(20-$index)"
                        class="text-light"
                        ng-class="{'text-danger text-bold': 20-$ctrl.wBodyPart == $index}">{{20-$index}}</a></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-auto">
            <div class="form-group">
              <div class="form-check form-check-radio">
                <label class="form-check-label text-dark">
                  <input class="form-check-input" type="radio" name="weapon" id="weapon2" ng-model="$ctrl.weapon"
                    value="Blunt">
                  Bludgeoning Damage
                  <span class="circle">
                    <span class="check"></span>
                  </span>
                </label>
              </div>
              <div class="form-check form-check-radio">
                <label class="form-check-label text-dark">
                  <input class="form-check-input" type="radio" name="weapon" id="weapon7" ng-model="$ctrl.weapon"
                    value="Piercing">
                  Piercing Damage
                  <span class="circle">
                    <span class="check"></span>
                  </span>
                </label>
              </div>
              <div class="form-check form-check-radio">
                <label class="form-check-label text-dark">
                  <input class="form-check-input" type="radio" name="weapon" id="weapon5" ng-model="$ctrl.weapon"
                    value="Cutting">
                  Slashing Damage
                  <span class="circle">
                    <span class="check"></span>
                  </span>
                </label>
              </div>
              <div class="form-check form-check-radio">
                <label class="form-check-label text-dark">
                  <input class="form-check-input" type="radio" name="weapon" id="weapon6" ng-model="$ctrl.weapon"
                    value="Flame">
                  Flame & Energy Damage
                  <span class="circle">
                    <span class="check"></span>
                  </span>
                </label>
              </div>
              <div class="form-check form-check-radio">
                <label class="form-check-label text-dark">
                  <input class="form-check-input" type="radio" name="weapon" id="weapon1" ng-model="$ctrl.weapon"
                    value="Arrow">
                  Arrow & Bolt Damage (Piercing)
                  <span class="circle">
                    <span class="check"></span>
                  </span>
                </label>
              </div>
              <div class="form-check form-check-radio">
                <label class="form-check-label text-dark">
                  <input class="form-check-input" type="radio" name="weapon" id="weapon3" ng-model="$ctrl.weapon"
                    value="Bullet">
                  Bullet Damage (Piercing)
                  <span class="circle">
                    <span class="check"></span>
                  </span>
                </label>
              </div>
              <div class="form-check form-check-radio">
                <label class="form-check-label text-dark">
                  <input class="form-check-input" type="radio" name="weapon" id="weapon4" ng-model="$ctrl.weapon"
                    value="Claws">
                  Claws & Teeth Damage (Piercing and Slashing)
                  <span class="circle">
                    <span class="check"></span>
                  </span>
                </label>
              </div>
              <div class="form-check form-check-radio">
                <label class="form-check-label text-dark">
                  <input class="form-check-input" type="radio" name="weapon" id="weapon8" ng-model="$ctrl.weapon"
                    value="Explosion">
                  Explosion & Shrapnel Damage
                  <span class="circle">
                    <span class="check"></span>
                  </span>
                </label>
              </div>
              <div class="form-check form-check-radio">
                <label class="form-check-label text-dark">
                  <input class="form-check-input" type="radio" name="weapon" id="weapon9" ng-model="$ctrl.weapon"
                    value="Unarmed">
                  Unarmed Combat Damage
                  <span class="circle">
                    <span class="check"></span>
                  </span>
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="row" ng-if="$ctrl.wResult">
          <div class="col-auto">
            <p class="critical">#{{$ctrl.wResult}}. <span
                class="text-bold">{{$ctrl.criticals[$ctrl.weapon][$ctrl.place][$ctrl.wResult-1]}}</span></p>
          </div>
        </div>
        <div class="row">
          <div class="col-auto">
            <ol>
              <li ng-repeat="critical in $ctrl.criticals[$ctrl.weapon][$ctrl.place]">
                <span class="critical" ng-class="{'text-bold': $ctrl.wResult-1 == $index}">{{critical}}</span>
              </li>
              <ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>