<div class="row">
  <div class="col-xl-8 col-centered">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title">OwlbearDM Staff</h4>
        <p class="card-category">RPG tools</p>
      </div>
      <div class="card-body">
        <ul>
          <li>
            Application for every-round initiative rules
            <a href="https://initiative.owlbeardm.com">
              initiative.owlbeardm.com
            </a>
          </li>
          <li>
            <a ui-sref="wfrpcritical">Automated tool</a> 
            for WARHAMMER FANTASY RPG Critical Hits Rolls by Josef Tham, v2.0 from 
            <a href="http://www.windsofchaos.com/">
              www.windsofchaos.com
            </a>
          </li>
          <!-- <li>
            <a href="https://creative-tim.com/presentation">
              Rules
            </a>
          </li> -->
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xl-8 col-centered">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title">Scrollbear Spellbook</h4>
        <p class="card-category">Pathfinder spellbook application</p>
      </div>
      <div class="card-body">
        <ul>
          <li>
            Spellbook application
            <a href="https://scrollbear.com/">
              scrollbear.com
            </a>
          </li>
          <!-- <li>
            <a href="https://creative-tim.com/presentation">
              Rules
            </a>
          </li> -->
        </ul>
      </div>
    </div>
  </div>
</div>